<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combat Cruise</title>
</head>
<body>
    <nav>
        <ul>
            <a href=""><li>HOME</li></a>
            <a href=""><li>CRUISES</li></a>
            <a href=""><li>AGENTS</li></a>
            <a href=""></a><li>BOOK</li></a>
        </ul>
    </nav>
    <main></main>
</body>
</html>l