<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Kayla Macias">
    <title>Combat Cruise</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Toto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Toto&family=Poppins:wght@300;500&display=swap"
        rel="stylesheet">


    <!-- STYLE SHEETS -->
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>

<body>
    <div class="headerWrapper">
        <header>
            <div class="companyNL">
                <div class="cName">
                    <h1>Cabot</h1>
                    <h2>Cruise</h2>
                </div>
                <img class="logo" src="images/cruiseLogo.png" alt="">
            </div>
            <div class="companyNumber">
                <p>1-800-555-1234</p>
            </div>
        </header>
    </div>

    <div class="navWrapper">
        <nav class="primaryNav">
            <ul>
                <a href="#">
                    <li>HOME</li>
                </a>
                <a href="#">
                    <li>CRUISES</li>
                </a>
                <a href="#">
                    <li>AGENTS</li>
                </a>
                <a href="#">
                    <li>BOOK</li>
                </a>
            </ul>
            <div class="navSearch">
                <input type="text">
                <a href="#"><ion-icon name="search-outline"></ion-icon></a>
            </div>
        </nav>
    </div>

    <div class="mainWrapper">
        <main>
            <section class="gallerySlider">
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <picture>
                                <source media="(max-width: 28.12rem )" srcset="images/galleryPhoto1.jpg">
                                <source media="(min-width28.12rem)" srcset="images/galleryPhoto1_small.jpg">
                                <img src="images/galleryPhoto1.jpg" alt="Cruise Galler Photos">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source media="(max-width: 28.12rem )" srcset="images/galleryPhoto2.jpg">
                                <source media="(min-width28.12rem)" srcset="images/galleryPhoto2_small.jpg">
                                <img src="images/galleryPhoto2.jpg" alt="Cruise Galler Photos">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source media="(max-width: 28.12rem )" srcset="images/galleryPhoto3.jpg">
                                <source media="(min-width28.12rem)" srcset="images/galleryPhoto3_small.jpg">
                                
                                <img src="images/galleryPhoto3.jpg" alt="Cruise Galler Photos">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source media="(min-width28.12rem)" srcset="images/galleryPhoto4_small.jpg">
                                <source media="(max-width: 28.12rem )" srcset="images/galleryPhoto4.jpg">
                                <img src="images/galleryPhoto4.jpg" alt="Cruise Galler Photos">
                            </picture>
                        </div>
                        ...
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

            </section>
            <section class="blogArticles">
                <h3>Recent Blog Articles</h3>
                <div class="articles">
                    <a href="">
                        <figure>
                            <img src="https://via.placeholder.com/200/f2f2f2/808080" alt="">
                            <figcaption>Familiy Fun</figcaption>
                        </figure>
                    </a>

                    <a href="">
                        <figure>
                            <img src="https://via.placeholder.com/200/f2f2f2/808080" alt="">
                            <figcaption>Dining</figcaption>
                        </figure>
                    </a>

                    <a href="">
                        <figure>
                            <img src="https://via.placeholder.com/200/f2f2f2/808080" alt="">
                            <figcaption>Snorkeling</figcaption>
                        </figure>
                    </a>

                    <a href="">
                        <figure>
                            <img src="https://via.placeholder.com/200/f2f2f2/808080" alt="">
                            <figcaption>Beach Relaxation</figcaption>
                        </figure>
                    </a>

                </div>
            </section>
        </main>
    </div>

    <div class="directoryWrapper">
        <section class="directoryInfo">
            <div class="contact">
                <h3>Contact Us</h3>
                <div class="address">
                    <p>CABOT CRUIZES <br>
                        23 South Main St. Suite 16 <br>
                        Lexington, VA 24450</p>
                </div>

                <div class="phone">
                    <h3>Phone:</h3>
                    <p>1-800-555-1234</p>
                </div>

                <div class="officeHours">
                    <h3>Hours of Operation:</h3>
                    <p>Monday-Friday 9am-4pm</p>
                </div>
            </div>

            <div class="newsLetter">
                <h3>News Letter</h3>
                <p>Subscribe to our email list and stay up-to-date with our hottest offers and latest specials</p>
                <input type="email" placeholder="Johndoe@gmail.com">
                <button>Subscribe</button>
            </div>

            <div class="moreInfo">
                <h3>Why Cabot Cruises?</h3>
                <p>Cabot Cruises is a travel agency providing the best cruise
                    deals on our online travel website. We can help you with all
                    inclusive vacaMons including discounted cruises.
                    <br>
                    We do not sell travel to residents of Delaware, Iowa,
                    Florida, Hawaii and Washington state because those states
                    are just wierd. If you are a resident of one of these states,
                    call your congressman and tell them to change the
                    regulaMons.
                </p>
            </div>
        </section>
    </div>

    <div class="mediaWrapper">
        <section class="socialMedia">
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-youtube"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-pinterest"></ion-icon>
            <ion-icon name="logo-twitter"></ion-icon>
        </section>
    </div>

    <div class="footerWrapper">
        <footer>
            <p>&copy; 2023 Kayla Macias &bull; <a href="https://kaylamaciasrivera.netlify.app/">My Portfolio</a></p>
        </footer>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>