<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Kayla Macias">
    <title>Combat Cruise</title>

    <!-- STYLE SHEETS -->
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>

<body>
    <header>
        <div class="companyNL">
            <div class="cName">
                <h1>Cabot</h1>
                <h2>Cruise</h2>
            </div>
            <img class="logo" src="images/cruiseLogo.png" alt="">
        </div>
        <div class="companyNumber">
            <p>1-800-555-1234</p>
        </div>
    </header>
    <nav class="primaryNav">
        <ul>
            <a href="#">
                <li>HOME</li>
            </a>
            <a href="#">
                <li>CRUISES</li>
            </a>
            <a href="#">
                <li>AGENTS</li>
            </a>
            <a href="#">
                <li>BOOK</li>
            </a>
        </ul>
    </nav>
    <main>
        <section class="gallerySlider">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"><img src="images/galleryPhoto1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/galleryPhoto2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/galleryPhoto3.jpg" alt=""></div>
                    ...
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

        </section>
        <section class="blogArticles">
            <h3>Recent Blog Articles</h3>
            <div class="articles">
                <figure>
                    <img src="https://via.placeholder.com/200/f2f2f2/808080" alt="">
                    <figcaption>Familiy Fun</figcaption>
                </figure>
        
            <figure>
                <img src="https://via.placeholder.com/200/f2f2f2/808080" alt="">
                <figcaption>Dining</figcaption>
            </figure>

            <figure>
                <img src="https://via.placeholder.com/200/f2f2f2/808080" alt="">
                <figcaption>Snorkeling</figcaption>
            </figure>

            <figure>
                <img src="https://via.placeholder.com/200/f2f2f2/808080" alt="">
                <figcaption>Beach Relaxation</figcaption>
            </figure>

            </div>
        </section>
    </main>

    <section class="directoryInfo">
        
    </section>

    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>