/* 64em is also 1028px when basefont is 16px */

@media only screen and (min-width: 64rem) {
	
}

img#a4f2 {
	padding: 0;
	margin: 0;
	width: 100%;
}

img#a5f1 {
	padding: 0;
	margin: 0;
	width: 42%;
}

/*end large */
