/* 64em is also 1028px when basefont is 16px */

// @media only screen and (min-width: 64rem) {
	
// }
header, nav, main, footer, .directoryInfo {
    max-width: 64rem;
    margin:auto;
}

header {
	.companyNL{
		
		.cName{
			font-size: 20px;
			grid-column: 1;
		}
		.logo{
			width: 150px;
		}

	}
	.companyNumber{
		grid-column: 8;
		font-size: 24px;
		display: flex;
    	flex-direction: column-reverse;
	}
}

.directoryInfo{
	.contact div{
		grid-column: 1;
		
	}
	.newsLetter{
		grid-column: 1;
		
	}
}




/*end large */
