/* 64em is also 1028px when basefont is 16px */

// @media only screen and (min-width: 64rem) {
	
// }
header, nav, main, footer, .directoryInfo {
    max-width: 64rem;
    margin:auto;
}

header {
	.companyNL{
		
		.cName{
			font-size: 20px;
			grid-column: 1;
		}
		.logo{
			width: 150px;
		}

	}
	.companyNumber{
		grid-column: 8;
		font-size: 24px;
		display: flex;
    	flex-direction: column-reverse;
	}
}

.directoryInfo{
	
	.contact div{
		padding: 5px 0;
		
	}
	.newsLetter{
		display: flex;
		flex-direction: column;
		p{
			padding-bottom: 5px;
		}
		input{
			padding: 10px;
			margin: 5px 0;
			border: none;
		}
		button{
			padding: 10px;
			border-radius: 20px;
			border: none;
			
		}
	}
}




/*end large */
