/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  
    
    nav {
    
    // new stuff
        .primaryNav {
            ul {
                margin-left: 2%;
                display: flex;
                border-left: 1px solid rgba(0,0,0,0.1);
            }
        }
        
        
        ul li ul { //rules for the sub menu items
            z-index:99;
            position: absolute;
            background-color: lighten(#243859, 10%);
            left: -999rem; // pushes the menu way off to the side
            width: 12rem; // match this width woith the list items below
            display: flex;
            flex-wrap: wrap;
        }
         ul li ul li {
            width: 12rem;
            border-right: none;
            border-top: solid 1px rgba(0,0,0,0.2);
        }
    
         ul li:hover ul { /* this displays the menus as drop downs  */
            left: auto;
            margin-left: 0;
        }
        
        li.active a{background-color: rgba(0,0,0,0.25);}
        
    } // end nav


    .blogArticles{
        font-size: 14px;
        .articles{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    .directoryInfo{
        grid-template-columns: repeat(2, 1fr);
        font-size: 14px;
        row-gap: 20px;
        .contact div{
            grid-column: 1;
            
        }
        .newsLetter{
            grid-column: 2;
            width: 70%;
            
        }
        .moreInfo{
            grid-column: 1 /span 2;
        }
    }
} /*end medium */
