#hamburgerBtn{
	display: none;
}

.primaryNav{
	height: 0;
	overflow: hidden;
	.open{
		height: auto;
	}
	li ul{
		display: block;
	}
}

.primaryNav li.parent > a::after{
	content: "\25BC";
	float:right;

}

.primaryNav:hover ul{
	display: block;
}