/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
header {
	display: grid;
	grid-template-rows: auto;
	padding: 0 2%;
	.companyNL{
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		
		.cName{
			grid-column: 1;
			text-align: right;
			h2{
				margin: -20px;
			}
		}
		.logo{
			width: 150px;
			padding: 5px;
			
		}

	}
	.companyNumber{
		padding: 0;
		margin: 0;
		grid-row: 2;
		text-align: end;
	}
}

.primaryNav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #2a57b2;
	padding: 20px;
	ul {
		grid-column: 1;
		display: flex;
		a {
			display: block;
			text-decoration: none;
			color: beige;
			padding: 0 2%;
			li {
				list-style: none;
			}
		}
	}
	.navSearch{
		display: flex;
		grid-column: 2;
		justify-content: end;
		ion-icon.md.hydrated{
			align-items: ;
		}
	}
}
.swiper {
	width: 100%;
	height: auto;
	
	img {
		width: 100%;
	}
}

.blogArticles{
	padding: 20px 2%;
.articles{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	
	width: 100%;
	figure{
		padding: 20px;
		margin: 0;
	}
	
}}

.directoryInfo{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0 2%;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
