/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/*--- WRAPPERS ---*/
.headerWrapper{
	background-color: #b2bbc8;
}

/*--- HEADER ---*/
header {
	display: grid;
	padding: 0;
	.companyNL{
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		
		.cName{
			grid-column: 1;
			text-align: right;
			h2{
				margin: -20px;
			}
		}
		.logo{
			width: 150px;
			padding: 5px;
			
		}

	}
	.companyNumber{
		padding: 0;
		margin: 0;
		grid-column: 8;
		display: flex;
    	flex-direction: column-reverse;
	}
}

/*--- PRIMARY NAV ---*/
.primaryNav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 20px 0;
	ul {
		grid-column: 1;
		display: flex;
		align-items: center;
		a {
			display: block;
			text-decoration: none;
			color: beige;
			padding: 0 2%;
			li {
				list-style: none;
			}
		}
	}
	.navSearch{
		display: flex;
		grid-column: 2;
		justify-content: end;
		input{
			border: none;
			border-radius: 5px 0 0 5px;
			padding: 10px;
		}
		a{
			display: block;
			background-color: #7690b5;
			border-radius: 0 5px 5px 0;
			padding: 5px;
			ion-icon.md.hydrated{
				font-size: 25px;
				color: #f2f2f2;
			}
		}
	}
}

/*--- SLIDER ---*/
.swiper {
	width: 100%;
	height: auto;
	
	img {
		width: 100%;
	}
}

/*--- BLOG ARTICLES ---*/
.blogArticles{
	padding: 20px 0;
.articles{
	display: grid;
	column-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	
	width: 100%;
	a{
		display: block;
		width: 100%;
	}
	figure{
		margin: 0;
		img{
			width: 100%;
		}
	}
	figCaption{
		background-color: #09090a77;
		color: #f2f2f2;
	}
	
}}

/*--- DIRECTORY INFO ---*/
.directoryInfo{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	background-color: #183b80;
	color: #f2f2f2;
	padding: 20px 2%;
	line-height: .6cm;
	.contact div{
		padding: 5px 0;
		
	}
	.newsLetter{
		display: flex;
		flex-direction: column;
		p{
			padding-bottom: 5px;
		}
		input{
			padding: 10px;
			margin: 5px 0;
			border: none;
		}
		button{
			padding: 10px;
			border-radius: 20px;
			border: none;
			
		}
	}
}
/*--- SOICIAL MEDIA ---*/
.socialMedia{
	font-size: 50px;
	padding: 20px;
	text-align: center;
	ion-icon.md.hydrated{
		color: #183b80;
		padding-right: 20px;
	}
}

/*--- FOOTER ---*/
footer{
	text-align: center;
	background-color: #7690b5;
	color: #f2f2f2;
	padding: 10px;
	a{
		color: #f2f2f2;
		text-decoration: none;
	}
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
