/* 64em is also 1028px when basefont is 16px */

// @media only screen and (min-width: 64rem) {

// }

header,
nav,
main,
footer,
.directoryInfo {
	max-width: 64rem;
	margin: auto;
}

h3 {
	font-size: 20px;
}

header {
	.companyNL {
		.cName {
			font-size: 20px;
			grid-column: 1;
		}
		.logo {
			width: 150px;
		}
	}
	.companyNumber {
		grid-column: 8;
		font-size: 24px;
		display: flex;
		flex-direction: column-reverse;
	}
}

nav {
	#hamburgerBtn {
		display: none;
	}

	// new stuff
	#primaryNav {
		margin-left: 2%;
		display: flex;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		list-style-type: none;
	}
	ul li {
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		
	}
	ul li a {
		display: block;
		border: none; // undo small screen top border
		font-size: 1rem;
		padding: .9rem 1.2rem;
		color: rgba(255, 255, 255, 1);
		text-decoration: none;
		/*transition*/
		-webkit-transition: background 0.3s linear;
		transition: background 0.3s linear;
	}
	ul li a:hover {
		background: darken(rgb(36, 56, 89), 5%);
	}

	ul li ul {
		//rules for the sub menu items
		z-index: 99;
		position: absolute;
		background-color: lighten(#243859, 10%);
		left: -999rem; // pushes the menu way off to the side
		width: 12rem; // match this width woith the list items below
		display: flex;
		flex-wrap: wrap;
	}
	ul li ul li {
		width: 12rem;
		border-right: none;
		border-top: solid 1px rgba(0, 0, 0, 0.2);
	}

	ul li:hover ul {
		/* this displays the menus as drop downs  */
		left: auto;
		margin-left: 0;
	}

	li.active a {
		background-color: rgba(0, 0, 0, 0.25);
	}

	.navBar {
		justify-content: space-between;
	}
} // end nav

.blogArticles {
	.articles {
		display: grid;
		column-gap: 20px;
		grid-template-columns: repeat(4, 1fr);
	}
}

.directoryInfo {
	grid-template-columns: repeat(3, 1fr);
	font-size: 12px;
	.contact div {
		grid-column: 1;
	}
	.newsLetter {
		grid-column: 2;
		width: 100%;
	}
	.moreInfo {
		grid-column: 3;
	}
}



/*end large */
