/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  
    
  


    .blogArticles{
        font-size: 14px;
        .articles{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    .directoryInfo{
        grid-template-columns: repeat(2, 1fr);
        font-size: 14px;
        row-gap: 20px;
        .contact div{
            grid-column: 1;
            
        }
        .newsLetter{
            grid-column: 2;
            width: 70%;
            
        }
        .moreInfo{
            grid-column: 1 /span 2;
        }
    }


    .cruiseTitle{
        font-size: 32px;
    }

    .cruiseInfo{
        .btn{
            width: 10rem;
        }
    }
    .agentName{
        font-size: 32px;
    }

    .bookACruise{
        font-size: 32px;
    }

    .cruiseForm{
        width: 30rem;
        font-size: 16px;
    }
} /*end medium */
